@import '../abstracts/variables.scss';
@import '../abstracts/mixins/icon.scss';

.contact {
    background-color: $portfolio-white;
    color: $dark-blue;

    &.section {
        padding-bottom: 0;
    }

    h1 {
        margin-bottom: 2.5rem;
    }

    &__image-container {
        margin-bottom: 2.5rem;
        width: 100%;
        
        img {
            border-radius: 25rem;
            max-width: 30rem;
            min-width: 21rem;
            width: 90%;
        }
    }

    &__links-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
        margin-bottom: 6rem;
        max-width: 70rem;
        width: 80%;
        
        a {
            align-items: center;
            border-radius: 0.5rem;
            color: $dark-blue;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 1.5rem;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            transition: background-color 200ms ease-in-out;
            width: 18rem;

            span {
                border-radius: 50%;
                margin-bottom: 0.8rem
            }

            .linkedin-icon {
                @include icon(8rem, 8rem, "../../assets/icons/linkedin_icon.png");
            }

            .github-icon {
                @include icon(8rem, 8rem, "../../assets/icons/github_icon.png");
            }

            .mail-icon {
                @include icon(8rem, 8rem, "../../assets/icons/mail_icon.png");
            }

            &:focus {
                outline: 0.2rem solid $dark-blue;
            }

            &:hover span,
            &:focus span {
                background-color: $yellow;
            }
        }

    }
}

@media only screen and (min-width: 600px) {
    .contact {
        &__links-container {
            a {
                font-size: 1.6rem;
            }
        }
    }
}
