@import '../abstracts/variables.scss';
@import '../abstracts/mixins/icon.scss';

.header {
    z-index: 3;
    box-shadow: none;
    background-color: $dark-blue;
    color: $portfolio-white;

    &.section {
        padding-top: 4rem;
    }

    &__nav {
        width: 100%;
        max-width: 120rem;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
        font-size: 1.85rem;
        font-weight: 600;
        text-align: end;

        label {
            cursor: pointer;
            -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
            display: inline-block;
            font-size: 2.2rem;
            margin-bottom: 1rem;

            /* HAMBURGER MENU */
            .menu-btn {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &__burger {
                    width: 2rem;
                    height: 0.2rem;
                    background-color: white;
                    border-radius: 0.2rem;
                    transition: all 300ms ease-in-out;
                }

                .menu-btn__burger::before, .menu-btn__burger::after {
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: 0.2rem;
                    background-color: white;
                    border-radius: 0.5rem;
                    transition: all 300ms ease-in-out;
                }

                .menu-btn__burger::before {
                    transform: translate(-2rem, -0.65rem); 
                }

                .menu-btn__burger::after {
                    transform: translate(-2rem, 0.65rem);  
                }
            }

            /* HAMBURGER ANIMATION */
            .menu-btn.open {
                .menu-btn__burger {
                    background-color: transparent;
                }

                .menu-btn__burger::before {
                    transform: translateX(-2rem) rotate(45deg);
                }

                .menu-btn__burger::after {
                    transform: translateX(-2rem) rotate(-45deg);
                }
            }
        }
        
        #toggle {
            display: none;
        }

        #toggle:checked + .menu {
            visibility: visible;
            opacity: 1;
        }

        .menu {
            opacity: 0;
            visibility: hidden;
            min-width: 28rem;
            position: absolute;
            left: calc(100% - 30rem);
            text-align: center;
            background-color: $dark-blue;
            transition-duration: 300ms;
            a {
                padding: 1rem;
                display: block;
                text-decoration: none;
                color: $portfolio-white;
                border: 0.1rem solid $portfolio-white;
                transition-duration: 300ms;
            }
            a:hover,
            a:focus {
                background-color: $portfolio-white;
                color: $dark-blue;
                outline: none;
            }
        }
    }

    &__content-container {
        h1 {
            font-size: 3rem;
            margin-bottom: 4rem;
            margin-top: 5rem; 
        }
        
        img {
            border-radius: 25rem;
            margin-bottom: 2.5rem;
            max-width: 35rem;
            width: 100%;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
}

@media only screen and (min-width: 600px) {
    .header {
        &__nav {
            display: flex;
            justify-content: center;
            #toggle:checked + .menu {
                visibility: visible;
                opacity: 1;
            }
            .menu {
                visibility: visible;
                opacity: 1;
                position: static;
                display: flex;
                justify-content: space-around;
                margin-bottom: 1rem;
                width: 100%;
                max-width: 80rem;
                a {
                    display: inline-block;
                    border: none;
                    border-radius: 0.5rem;
                }
            }
            label {
                display: none;
            }
        }

        &__content-container {
            h1 {
                font-size: 3.5rem;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .header {
        &__nav {
            justify-content: flex-end;

            .menu {
                justify-content: flex-end;

                a {
                    margin-left: 2rem;
                }
            }
        }
        
        &__content-container {
            h1 {
                font-size: 4rem;
            }
        }
    }
}
