@import '../abstracts/variables.scss';
@import '../abstracts/mixins/icon.scss';
@import '../abstracts/mixins/project-hover.scss';
@import '../abstracts/mixins/project-icon-hover.scss';

.projects {
    z-index: 1;
    background-color: $dark-blue;
    color: $portfolio-white;

    .section-decoration {
        background-color: $portfolio-white;
    }

    &__grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-row-gap: 3.5rem;
        padding-top: 3.5rem;

        article {
            transition: all 550ms;
            width: 25rem;
            height: 18rem;
            padding-top: 0.7rem;
            padding-bottom: 1.1rem;
            border-radius: 2.5rem;
            font-family: $projects-font;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                display: none;
                font-size: 2.8rem;
            }
        }

        .batata-bit {
            background-color: $batatabit;

            h2 {
                margin-right: -3rem;
                user-select: none;
            }
            
            .batata-icon {
                @include icon(7rem, 4.2rem, "../../assets/icons/batata.svg");
            }
        }

        .generic-blog {
            background-color: $blog;

            h2 {
                margin-right: -4.5rem;
                user-select: none;
            }

            .blog-icon {
                @include icon(7rem, 7rem, "../../assets/icons/blog-icon.png");
                background-color: $portfolio-white;
                border-radius: 3.5rem;
            }
        }

        /* TRANSITIONS */
        article:hover,
        article:focus-within {
            opacity: 1;
            transform: scale(1.12);
            flex-direction: column;
            justify-content: space-between;
        }

        article:hover h2, 
        article:focus-within h2 {
            display: inline-block;
        }

        article:hover .project-button,
        article:focus-within .project-button {
            position: static;
            height: auto;
            width: auto;
        }

        .batata-bit:hover,
        .batata-bit:focus-within {
            @include project-hover ("../../assets/bitcoin-woman.jpg");
            
            .batata-icon {
                @include project-icon-hover (13%, 11.8%, -6.7rem, -6.5rem, 600ms);
            }
        }

        .generic-blog:hover, 
        .generic-blog:focus-within {
            @include project-hover ("../../assets/blog-cover.jpg");
            
            .blog-icon {
                @include project-icon-hover (13%, 20%, -7.7rem, -6.5rem, 700ms);
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .projects {
        &__grid-container {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3.5rem;
        }
    }
}

@media only screen and (min-width: 900px) {
    .projects {
        &__grid-container {
            width: auto;
            grid-gap: 5rem;

            article {
                width: 30rem;
                height: 21rem;
            }

            /* TRANSITIONS */
            .batata-bit:hover {
                .batata-icon {
                    transform: translate(-7rem, -7.8rem);
                }
            }
            .generic-blog:hover {
                .blog-icon {
                    transform: translate(-8rem, -7.8rem);
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .projects {
        &__grid-container {
            grid-gap: 6rem;

            article {
                width: 35rem;
                height: 23rem;
            }

            /* TRANSITIONS */
            .batata-bit:hover {
                .batata-icon {
                    transform: translate(-7.6rem, -8.8rem);
                    height: 12.8%;
                }
            }

            .generic-blog:hover {
                .blog-icon {
                    transform: translate(-8.6rem, -8.8rem);
                    height: 22%;
                }
            }
        }
    }
}
