@import '../abstracts/variables.scss';
@import '../abstracts/mixins/icon.scss';

.section {
    align-items: center;
    // box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 2rem;
    position: relative;
    scroll-margin-top: -7.5rem;
    width: 100%;
}

.section-heading {
    font-size: 2.8rem;
    font-weight: 700;
}

.center-content {
    text-align: center;
}

.section-decoration {
    background-color: $dark-blue;
    border-radius: 25rem;
    bottom: calc(100% - 4.5rem);
    // box-shadow: 0rem 1rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    height: 17rem;
    position: absolute;
    width: 17rem;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap;
    width: 1px !important;
}
