@import '../abstracts/variables.scss';

* {
    box-sizing: border-box;
    font-family: $main-font;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
	min-width: 28rem;
	scroll-behavior: smooth;
}
