// Colors
$portfolio-white: #F5F5F5;
$yellow: #fffec7;
$blue: #00568c;
$dark-blue: #171E2F;
$green: #008313;
$dark-green: #00610e;

// Fonts
$main-font: 'Montserrat', sans-serif;
$projects-font: 'Source Sans Pro', sans-serif;
