// Colors
$portfolio-white: #F5F5F5;
$yellow: #fffec7;
$blue: #00568c;
$light-blue: #7beafe;
$dark-blue: #171E2F;
$green: #008313;
$light-green: #55ef69;
$dark-green: #00610e;
$purple: #5a3daa;
$dark-purple: #2d0d87;

// Fonts
$main-font: 'Montserrat', sans-serif;
$projects-font: 'Source Sans Pro', sans-serif;
